<% if code_language %>
  <span>
    <% language = Nexmo::Markdown::CodeLanguage.find(code_language) %>
    <% if language.key == 'kotlin' %>
      <img class="Vlt-icon Vlt-icon--small" src="/assets/images/brands/kotlin.svg#kotlin" />
    <% else %>
      <svg><use xlink:href="<%= "/assets/images/brands/#{language.icon}.svg##{language.icon}" %>"></use></svg>
    <% end %>
    <span><%= language.label %></span>
  </span>
<% end %>
